@import '../../index.scss';

#ForceLayoutPage {
  background-color: black;
  color: black;
}

.forceHeader {
  height: 250px;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding-bottom: 5vh;

  h1 {
    color: $flesh;
    font-size: 3rem;
  }

  h3 {
    font-size: 1.3rem;
    font-family: 'Menlo', 'serif';
    font-style: italic;
    letter-spacing: 6px;
    color: $orange;
  }
}

.forceContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.forceFooter {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
}
