@import '../../index.scss';

#MapPage {
  background-color: black;
  color: black;
}

.mapHeader {
  height: 40vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: $flesh;
    font-size: 3rem;
  }

  h3 {
    font-family: 'Menlo', 'serif';
    font-style: italic;
    letter-spacing: 6px;
    color: $orange;
  }

  .buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 5vh;

    button {
      width: 20vw;
      letter-spacing: 2px;
      border: none;
      text-decoration: none;
    }

    .current {
      background-color: #ff922e;
    }

    .notCurrent {
      transition: 0.5s;
      background-color: grey;
    }

    .notCurrent:hover {
      transition: 0.5s;
      background-color: #ff922e;
    }

    #leftButton {
      border-radius: 5px 0 0 5px;
    }

    #rightButton {
      border-radius: 0 5px 5px 0;
    }
  }
}

.mapContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.mapFooter {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
}
