@import '../../index.scss';

#BarPage {
  background-color: black;
  color: white;
}

.barHeader {
  height: 35vh;
  padding-top: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 5vh;

  h1 {
    color: $flesh;
    font-size: 3rem;
  }

  h3 {
    font-family: 'Menlo', 'serif';
    font-style: italic;
    letter-spacing: 6px;
    color: $orange;
  }
}

.barContent {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
}

.barFooter {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid red;
}
