@import url('https://fonts.googleapis.com/css?family=Lato:400,700i&display=swap');

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-style: italic;
  font-weight: bold;
  line-height: 0.9em;
  letter-spacing: 6px;
  font-size: 4rem;
  text-align: center;
}

p {
  font-family: 'Menlo', serif;
}

$flesh: #FFEAC9;
$orange: #D56600;
